.auth {
	width: 100%;
	position: relative;
	display: block;
	&__header {
		color: var(--white);
		text-align: center;
		&--one {
			font-family: "Star-Jedi";
			font-size: 30px;
		}
		&--two {
			font-family: "Distant-Galaxy";
			font-size: 70px;
			margin-top: 0;
		}
	}
}

.auth {
	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		&__input {
			width: auto;
			display: block;
			border: none;
			border-radius: 0.5em;
			padding: 1em 1.5em;
			font-size: var(--font-sm);
			font-weight: 400;
			text-align: center;
		}
		&__label {
			width: 66%;
			display: flex;
			flex-direction: column;
			margin-bottom: 0.5em;
			color: var(--white);
			font-weight: bold;
			font-size: var(--font-xs);
			text-align: center;
		}
		&__button {
			width: 33%;
			background-color: var(--yellow);
			border-color: var(--yellow);
			border: 0;
			border-radius: 0.5em;
			padding: 1em 1.5em;
			font-weight: bold;
			font-size: var(--font-sm);
			margin-top: 1em;
		}
	}
}
