<style>
  @import url('/assets/Poppins-Regular.ttf');
</style>
<section class="auth">
  <h1 class="auth__header--one">WebStar</h1>
  <h2 class="auth__header--two">FrontEnd</h2>
  <form class="auth__form">
    <label for="email" class="auth__form__label">
      Felhasználónév
      <input type="email" id="email" name="email" class="auth__form__input">
    </label>
    <label for="password" class="auth__form__label">
      Jelszó
      <input type="password" id="password" name="password" class="auth__form__input">
    </label>
    <button type="submit" class="auth__form__button">
      Bejelentkezés
    </button>
  </form>
</section>

