.nav {
	border-bottom: solid var(--white) 1px;
	padding: 1em 0;
	max-width: 1325px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	color: var(--white);
	font-family: "Poppins-Bold";
	font-size: 16px;
	&__container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 1em;
	}
}

@media (max-width: 1200px) {
	.nav {
		padding: 1em;
	}
}
