<section class="character">
	<!-- character traits -->
	<div class="character__details character__details--triats">
		<span class="character__details__side">
			{{ currentCharacter?.side }}
		</span>
	</div>
	<!-- list of dots that allow character navigation -->
	<ul class="character__list">
		<!-- previous arrow -->

		<!-- circles list -->
		<a
			*ngFor="let character of data"
			[routerLink]="['/characters']"
			[queryParams]="{ id: character.id }"
			class="character__list__item character__list__item--circle"
		>
		</a>
		<!-- next arrow -->
	</ul>

	<!-- character details -->
	<div class="character__details">
		<div class="character__details__controls">
			<h2
				class="character__details__name"
				[innerHTML]="currentCharacter?.name"
			></h2>
			<p class="character__details__description">
				{{ currentCharacter?.description }}
			</p>
		</div>
		<div class="character__details__image">
			<img
				class="character__details__image--img"
				src="/assets/{{ currentCharacter?.id }}.png"
				alt="character image"
			/>
		</div>
	</div>
</section>
